<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Donate</title>
  </head>
  <body>
{% if messages %}
    <div id="message"  class="alert-dismissible fade show alert alert-success" role="alert">
      <ul  id="inner-message" class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    </div>
        
    {% endif %}
<h1>SUCCESSFULLL !!</h1>
<a href="/NGO/logout"><button>Logout</button></a>{% csrf_token %}
<p>Hi</p>
<form action="/NGO/availability" method="post">{% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

</body>
</html>